#outer{
    height: 200px;
    width: 70px;
    border: 2px solid black;
    margin-left: 50%;
}

div div{   /* or .inner{} */
    height: 50px;
    width: 50px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 50%;
}

#red {
    background-color: red;
}

#yellow{
    background-color: yellow;
}

#green{
    background-color: green;
}