/* Universal Selector-Applies the property for the entire document */
*{
   font-family: 'Courier New', Courier, monospace;
   background-color: aquamarine;
}

/* Element Selector */
h1,h3{
    color: #B92b27;
}

/* ID selector-used to select one particular element */
#login{
    background-color: wheat;
}

#signup{
    background-color: #B92b27;
    color: white;
}

/* Class Selector-used to select a group of elements*/
.upvote{
    background-color: lightsalmon;
    color:white;
}